*{
    margin: 0;
    padding: 0;
    font-family: 'Loto',sans-serif;
}
html{
    height: 100%;
}
body{
    background-color: #f9f9f9;
    width: 100vw;
    height: 100%;
}
/*JQ*/
.fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition:all 0.5s;
}
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
}
/*タイトル*/

/* #header.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
} */

#main {
  width: 100%;
  height: 410vh; 
}

.fadein {
  opacity: 0;
  transform: translate(0, 50px);
  transition: all 0.5s; 
}

.fadein .scrollin {
    opacity: 1;
    transform: translate(0, 0); 
}


#header{
    position: relative;
    width: 100%;
    height: 100%;
}
#header h2 {
    color: #fff; 
}

#header p1 {
    color: #fff; 
}

#header .home {
    z-index: 2;
    position: absolute;
    top: 30vh;
    left: 30%;
    display: block;
}
#header .home h2 {
    font-size: 5vw; 
    margin: 0 auto;
}
#header .home p{
    font-weight: 300;
    font-size: 3.4vw; 
}

#header nav {
    font-size: 2vw;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20px;
    float: left;
    overflow: hidden; 
    margin-left: 0%;
}

 #header nav li {
    list-style-type: none;
    float: left; 
}

#header nav li a {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    color: #fff;
    margin: 9px;
    transition: 2s; 
}
      
#header nav li a:hover {
    border-bottom: 1px solid #FFF; 
}

#header #slide {
    position: relative;
    width: 100%;
    height: auto;
}

#header #slide img {
    position: absolute;
    width: 100%;
    
}


/*ABOUT*/

h1{
    text-align: center;
    font-size: 3vw;
    color: #182b2e;
    margin-top: 100px;
}

.container1{
    display:flex;
    width: 70vw;
    margin: 0 auto;
    margin-top: 50px;
}

.item-a{
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    margin-bottom: 150px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.item-a h3{
    font-size: 2vw;
   
}

.item-a p{
    font-size: 1.3vw;
}


.item-b{
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    margin-bottom: 150px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.item-b h3{
    font-size: 2vw;;
}

.item-b p{
    font-size: 1.3vw;
}



.item-c{
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    margin-bottom: 150px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.item-c h3{
    font-size: 2vw;;
}

.item-c p{
    font-size: 1.3vw;
}


.container2{
    display: flex;
    background-color: #182b2e;
    width: 75%;
    height: 80vh;
    margin: 0 auto;
}

.container2 .image img{
    width: 40vw;
    height: 80vh;
}



.item2{
    background-color: #182b2e;
    margin: 0 auto;  
   
}

.item2 h1{
    color: #ffffff;
    margin-top: 20%;
    font-size: 4vw;
    margin: 0 auto;
}

.item2 p{
    color: #ffffff;
    line-height: 140%;
    margin: 0 auto;
}

/*MENU*/
#menu {
    width: 100%;
    background-color: #f9f9f9;
}
  
#menu h1 {
    font-size: 250%;
    color: #182b2e;
    position: relative;
    margin-top: 20%;
    margin-bottom: 10%;
    text-align: center; 
}
  
#menu .menu-contant {
    width: 80%;
    height: 50vh;
    margin-top: 20%;
    position: relative;
    margin: 0 auto;
}

#menu .menu-contant .coffee {
    width: 30%;
    height: 70%;
    background-color: #182b2e;
    float: left;
    margin-right: 3%;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); 
}
      
#menu .menu-contant .coffee img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px; 
}
      
#menu .menu-contant .coffee h3 {
    color: #fff;
    font-size: 4vw;
    display: block;
    margin: 10px 0px 0px 10px; padding-left: 10px; 
}
    
#menu .menu-contant .tea {
    width: 30%;
    height: 70%;
    background-color: #182b2e;
    float: left;
    margin-right: 3%;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); 
}
      
#menu .menu-contant .tea img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px; 
}
      
#menu .menu-contant .tea h3 {
    color: #fff;
    font-size: 4vw;
    display: block;
    margin: 10px 0px 0px 10px;
    padding-left: 10px; 
}

#menu .menu-contant .cake {
    width: 30%;
    height: 70%;
    background-color: #182b2e;
    float: left;
    margin-right: 3%;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.03); 
}
      
#menu .menu-contant .cake img {
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px; 
}
      
#menu .menu-contant .cake h3 {
    color: #fff;
    font-size: 4vw;
    display: block;
    margin: 10px 0px 0px 10px; padding-left: 10px; 
}



/*ACCESS*/

.title .fadein{
    text-align: center;
    font-size: 2vw;
    color: #182b2e;
    margin-bottom: 50px;
}

.access-item {
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    padding: 0px;
    width: 75%;
    height: 60vh;
    margin: 0 auto;
}

.left {
    width: 50%;
    height: 100%;
    float: left;
    /*margin-left: 10%;*/
    /*box-shadow: 0 2px 5px #ccc;*/
}

.right {
    /*background-color: #fff;*/
    /*border: 1px solid #fff;*/
    /*width: 40%;
    height: 400px;*/
    margin-left: 25%;
    /*box-shadow: 0 2px 5px #ccc;*/
}

span {
    display: inline-block;
    width: 5em;
}

.right h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #182b2e;
    padding: 9% 3% 4% 3%;
}

.right1 h3 {
    float: left;
    padding: 8.5% 8% 0% 10%;
    margin-bottom: 0%;
}

.right2 h3 {
    float: left;
    margin-top: 0px;
    padding: 0% 4.5% 10% 10%;
}

.right p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #182b2e;
    padding: 9% 3% 4% 3%;
}

.right2 p {
    padding: 0% 3% 4% 3%;
}

.button a {
    text-align: center;
    display: block;
    border: 1px solid #182b2e;
    border-radius: 5px;
    color: #fff;
    background: #182b2e;
    font-weight: 600;
    font-size: 20%;
    text-decoration: none;
    padding: 7px;
    width: 10%;
    margin: 50px auto 70px auto;
    transition: 1.0s;
}

.button a:hover {
    color: #182b2e;
    background: #fff;
    transition: 1.0s;
}


/*footer*/
footer {
    margin: 0px auto;
    margin-top: 20%;
    padding: 30px 0px;
    text-align: center;
    background-color: #182b2e;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}

@media screen and (max-width:649px) {

    #header{
        position: relative;
        width: 100%;
        height: 300px;
    }
    #header h2 {
        color: #fff; 
    }
    
    #header p1 {
        color: #fff; 
    }
    
    #header .home {
        z-index: 2;
        position: absolute;
        top: 18vh;
        left: 30%;
        display: block;
    }
    
    .container1{
        display:block;
        width: 90vw;
        margin: 0 auto;
        margin-top: 0px;
    }


    .item-a{
        margin-bottom: 50px;
    }
    .item-b{
        margin-bottom: 50px;
    }    
    .item-c{
        margin-bottom: 50px;
    }

    .container2{
        display: block;
        background-color: #182b2e;
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    
    .container2 .image img{
        width: 90vw;
        height: auto;
    }


        /*MENU*/
    #menu {
        width: 100%;
        background-color: #f9f9f9;
    }
    
    #menu h1 {
        font-size: 250%;
        color: #182b2e;
        position: relative;
        margin-top: 20%;
        margin-bottom: 10%;
        text-align: center; 
    }
    
    #menu .menu-contant {
        width: 90%;
        height: auto;
        margin-top: 0%;
        position: relative;
        margin: 0 auto;
    }

    #menu .menu-contant .coffee {
        width: 100%;
        height: auto;
        background-color: #182b2e;
        float: none;
    }
        
    #menu .menu-contant .coffee img {
        width: 100%;
        height: auto;
    }
        
    #menu .menu-contant .tea {
        width: 100%;
        height: auto;
        background-color: #182b2e;
        float: none;
        margin: 0 auto;
        margin-top: 50px;
    }
        
    #menu .menu-contant .tea img {
        width: 100%;
        height: auto;
    }
        
    #menu .menu-contant .cake {
        width: 100%;
        height: auto;
        float: none;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
        
    #menu .menu-contant .cake img {
        width: 100%;
        height: auto;
    }



    /*ACCESS*/

    .title .fadein{
        text-align: center;
        font-size: 2vw;
        color: #182b2e;
        margin-bottom: 50px;
    }

    .access-item {
        border: 1px solid #fff;
        border-radius: 10px;
        box-shadow: 0 2px 5px #ccc;
        padding: 0px;
        width: 90%;
        height: auto;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .left {
        width: 100%;
        height: 250px;
        float: none;
        /*margin-left: 10%;*/
        /*box-shadow: 0 2px 5px #ccc;*/
    }

    .right {
        /*background-color: #fff;*/
        /*border: 1px solid #fff;*/
        /*width: 40%;
        height: 400px;*/
        margin-left: 4%;
        margin-top: 10px;
        /*box-shadow: 0 2px 5px #ccc;*/
    }

    span {
        display: inline-block;
        width: 5em;
    }

    .right h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 25px;
        color: #182b2e;
        padding: 0% 0% 0% 0%;
    }

    .right1 h3 {
        float: left;
        padding: 0% 0% 0% 0%;
        margin-bottom: 0%;
    }

    .right2 h3 {
        float: left;
        margin-top: 0px;
        padding: 0% 0% 30% 0%;
    }

    .right p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 160%;
        color: #182b2e;
        padding: 9% 3% 4% 3%;
    }

    .right2 p {
        padding: 0% 0% 0% 0%;
    }

    .button a {
        text-align: center;
        display: block;
        border: 1px solid #182b2e;
        border-radius: 5px;
        color: #fff;
        background: #182b2e;
        font-weight: 600;
        font-size: 20%;
        text-decoration: none;
        padding: 7px;
        width: 10%;
        margin: 50px auto 70px auto;
        transition: 1.0s;
    }

}